.cd-title-bar {
    background-color: white;
    padding: 0 20px;
    border-bottom: 2px solid black;
}
.cd-title-area {
    display: inline-block;
}

.cd-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    border: 1px solid #999;
}

.cd-logo-title {
    color: #111;
    margin-top: 6px;
    font-size: 22px;
}

.cd-logo-subtitle {
    font-size: 13px;
    margin-top: -13px;
}

.cd-right-side-controls{
    line-height: 60px;
}

.cd-right-side-controls > div{
    text-align: right;
}
