.cd-title-bar {
    background-color: white;
    padding: 0 20px;
    border-bottom: 2px solid black;
}
.cd-logo-area{
    text-align: center;
}
.cd-title-area {
    display: inline-block;
    text-align: left;
}

.cd-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    border: 1px solid #999;
}

.cd-logo-title {
    color: #111;
    margin-top: 6px;
    font-size: 22px;
}

.cd-logo-subtitle {
    font-size: 13px;
    margin-top: -13px;
}

@media screen and (max-width :430px) {
    .cd-icon{
        display: none;
    }
    .cd-logo-title{
        font-size: 18px;
    }
}

.cd-right-side-controls{
    line-height: 60px;
}

.cd-right-side-controls > div{
    text-align: center;
}

@media screen and (min-width: 768px) {

    .cd-right-side-controls > div {
        text-align: right;
    }

    .cd-logo-area{
        text-align: left;
    }
}

.cd-collapsed-menu{
    display: inline-block;
    height: 100%;
}

.cd-nav-button{
    height: 40px;
    width: 60px;
    margin-top: 10px;
    border: 1px solid #888;
    padding: 0;
    font-size: 26px;
    color: #777;

}